.item-card {
    cursor: pointer;
    display: flex;
    width:250px;
    flex-direction: column;
    margin:20px;
}

.item-card a{
    text-decoration: none;
    color:black;
}

.item-card img {
    width: 100%;
    height: auto;
}

.item-card-content {
    padding: 10px;
}