.navbar-container{
    height:65px;
    width:100%;
    background-color: black;
}

.navbar{
    max-width:1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
}

.navbar p{
    margin-right:20px;
}

.navbar a:not(.breadcrumbs a){
    margin-left:20px;
}