.item-description-wrapper{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

.item-content{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom:20px;
}

.item-content p{
    display:flex;
    margin:0;
    padding:10px 0;
}

.item-content p{
    border-bottom: 1px solid black;
}

.item-content p:first-child{
    border-top: 1px solid black;
}

.item-title{
    width:120px;
}

.item-data{
    font-weight: bold;
}

@media (max-width:760px){
    .item-description-container{
        padding:20px 10px  10px;
    }
}